@import "tailwindcss";

@theme {
  --*: initial;
  --spacing: 4px;
  --font-body: Inter, sans-serif;
  --color-background-primary: #050505;
  --color-background-secondary: #0f0f10;
  --color-background-tertiary: #19191a;
  --color-content-body: #cdcbcb;
  --color-content-placeholder: #82707f;
  --color-content-headline: #b2b2b2;
  --color-border-primary: #19191a;
  --color-border-secondary: #323234;
  --color-border-tertiary: #97979b;
  --color-accent-purple: #842bd0;
  --color-accent-green: #87b28d;
  --color-accent-pink: #b5446b;
}
